@use "uniform/_core" as *;
@use "sass:map";

$keyword: shadow !default;
$responsive: false !default;
$responsive-pseudos: true !default;

$properties: (box-shadow) !default;

$core-variants: (
	merge(
		shadows(),
		(
			none: none,
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: (hover, active, focus) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
