@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: shadow !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (box-shadow) !default;

$core-variants: (
	merge(
		shadows(),
		(
			none: none,
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: (hover, active, focus) !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
