@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: filter !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (filter) !default;

$core-variants: (
  none: none,
  graysize: graysize(100%)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: (hover, group-hover, active) !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
