@use "uniform/_core" as *;
@use "sass:map";

$keyword: transition !default;
$responsive: false !default;
$responsive-pseudos: true !default;

$properties: (transition-property) !default;

$core-variants: (
	none: none,
	all: all,
	appearance: (
		background-color,
		border-color,
		color,
		fill,
		stroke,
		opacity,
		box-shadow,
		transform,
	),
	colors: (
		background-color,
		border-color,
		color,
		fill,
		stroke,
	),
	opacity: opacity,
	shadow: box-shadow,
	transform: transform,
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
