@use "uniform/_core" as *;
@use "sass:map";

$keyword: clear !default;
$responsive: false !default;
$responsive-pseudos: true !default;

$properties: (clear) !default;

$core-variants: (
  left: left,
  right: right,
  both: both
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
