@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: col !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (grid-column) !default;

$core-variants: (
  auto: auto,
  1: span 1 / span 1,
  2: span 2 / span 2,
  3: span 3 / span 3,
  4: span 4 / span 4,
  5: span 5 / span 5,
  6: span 6 / span 6,
  7: span 7 / span 7,
  8: span 8 / span 8,
  9: span 9 / span 9,
  10: span 10 / span 10,
  11: span 11 / span 11,
  12: span 12 / span 12
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
