@use "uniform/_core" as *;
@use "sass:map";

$keyword: bg !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (background-attachment) !default;

$core-variants: (
  scroll: scroll,
  fixed: fixed,
  local: local
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
