@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: radius-r !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (border-top-right-radius, border-bottom-right-radius) !default;

$core-variants: (
	merge(
		radiuses(),
		(
			0: 0,
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: (last) !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
