@use "uniform/_core" as *;
@use "sass:map";

$keyword: resize !default;
$responsive: true !default;
$responsive-pseudos: true !default;

$properties: (resize) !default;

$core-variants: (
	none: none,
	both: both,
	horizontal: horizontal,
	vertical: vertical,
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
