@use "uniform/_core" as *;
@use "sass:map";

$keyword: select !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (user-select) !default;

$core-variants: (
  none: none,
  text: text,
  all: all,
  auto: auto
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
