@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: opacity !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (opacity) !default;

$core-variants: (
  0: 0,
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9,
  100: 1
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: (hover, active) !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
