@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: order !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (order) !default;

$core-variants: (
	first: -9999,
	last: 9999,
	1: 1,
	2: 2,
	3: 3,
	4: 4,
	5: 5,
	6: 6,
	7: 7,
	8: 8,
	9: 9,
	10: 10,
	11: 11,
	12: 12,
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
