<div class="ratio-16-9 radius-md border-8px border-white shadow-3 overflow-hidden">
  <iframe class="absolute xy-0 w-100p h-100p" src='https://www.youtube.com/embed/{{ id }}' frameborder='0' allowfullscreen></iframe>
</div>