@use "uniform/_core" as *;
@use "sass:map";

$keyword: col-rule !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (column-rule-style) !default;

$core-variants: (
  dotted: dotted,
  solid: solid
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
