@use "uniform" as *;

/******************************
DEFAULT
******************************/

.btn {
  @extend
  .relative,
  .inline-flex,
  .align-items-center,
  .justify-content-center,
  .h-11,
  .px-5,
  .outline-0,
  .bg-indigo-500,
  .radius-xs,
  .font-md,
  .font-500,
  .color-white,
  .whitespace-no-wrap,
  .transition-appearance,
  .duration-100,
  .cursor-pointer,

  .hover\.bg-indigo-600,
  .active\.bg-indigo-700;

  &.is-active {
    @extend 
    .bg-indigo-700,
    .pointer-events-none,

    .hover\.bg-indigo-700;
  }
  &.is-loading {
    @extend
    .color-transparent,
    .pointer-events-none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));
      height: 1em;
      width: 1em;
      border: 2px solid white;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      animation: btn-loading .5s infinite linear;
    }
  }

  /******************************
  SIZES
  ******************************/

  &.btn-xs {
    @extend
    .h-8,
    .px-3,
    .font-xs;
  }

  &.btn-sm {
    @extend
    .h-9,
    .px-4,
    .font-sm;
  }

  &.btn-md {
    @extend
    .h-11,
    .px-5,
    .font-md;
  }

  &.btn-lg {
    @extend
    .h-12,
    .px-6,
    .font-md;
  }

  &.btn-xl {
    @extend
    .h-13,
    .px-7,
    .font-lg;
  }

  @each $screen, $screen-value in screens() {
    &.#{$screen}\.btn-xs {
      @extend
      .#{$screen}\.h-8,
      .#{$screen}\.px-3,
      .#{$screen}\.font-xs;
    }
  
    &.#{$screen}\.btn-sm {
      @extend
      .#{$screen}\.h-9,
      .#{$screen}\.px-4,
      .#{$screen}\.font-sm;
    }
  
    &.#{$screen}\.btn-md {
      @extend
      .#{$screen}\.h-11,
      .#{$screen}\.px-5,
      .#{$screen}\.font-md;
    }
  
    &.#{$screen}\.btn-lg {
      @extend
      .#{$screen}\.h-12,
      .#{$screen}\.px-6,
      .#{$screen}\.font-md;
    }
  
    &.#{$screen}\.btn-xl {
      @extend
      .#{$screen}\.h-13,
      .#{$screen}\.px-7,
      .#{$screen}\.font-lg;
    }
  }


  /******************************
  VARIANTS
  ******************************/

  &.btn-primary {
    @extend
    .bg-indigo-500,
    .color-white,

    .hover\.bg-indigo-600,
    .active\.bg-indigo-700;
  }

  &.btn-secondary {
    @extend
    .bg-blueberry-700,
    .color-white,

    .hover\.bg-blueberry-800,
    .active\.bg-blueberry-900;
  }

  &.btn-tertiary {
    @extend
    .bg-white,
    .color-black,
    .shadow-1,

    .hover\.bg-white,
    .active\.bg-silver-100;
  }

  &.btn-light {
    @extend
    .bg-silver-100,
    .color-gray-900,

    .hover\.bg-silver-200,
    .active\.bg-silver-300;
  }

  &.btn-dark {
    @extend
    .bg-black,
    .color-white,

    .hover\.bg-gray-900,
    .active\.bg-black;
  }

  &.btn-success {
    @extend
    .bg-green-500,
    .color-white,

    .hover\.bg-green-600,
    .active\.bg-green-700;
  }

  &.btn-warning {
    @extend
    .bg-yellow-500,
    .color-white,

    .hover\.bg-yellow-600,
    .active\.bg-yellow-700;
  }

  &.btn-danger {
    @extend
    .bg-red-500,
    .color-white,

    .hover\.bg-red-600,
    .active\.bg-red-700;
  }
}

// Used for button loading animations
@keyframes btn-loading {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(359deg)
  }
}

/******************************
BUTTONS
******************************/

.btns {
  @extend
  .inline-flex;

  .btn {
    @extend
    .flex,
    .flex-1,
    .radius-0,
    
    .first\.radius-l-xs,
    .last\.radius-r-xs;
  }
}