@use "uniform/_core" as *;
@use "sass:map";

$keyword: col-rule !default;
$responsive: false !default;
$responsive-pseudos: true !default;

$properties: (column-rule-color) !default;

$core-variants: (colors()) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
