@use "uniform/_core" as *;
@use "sass:map";

$keyword: r !default;
$responsive: true !default;
$responsive-pseudos: true !default;

$properties: (right) !default;

$core-variants: (
  auto: auto,
  n100p: -100%,
	100p: 100%,
	n50p: -50%,
  50p: 50%,

  npx: -1px,
  px: 1px,
  0: 0,
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
