@use "uniform/_core";
@use "sass:map";

$keyword: pl !default;
$responsive: true !default;
$responsive-pseudos: true !default;

$properties: (padding-left) !default;

$core-variants: (
	core.merge(
		core.positive-sizes()
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
