@use "uniform/_core" as *;
@use "sass:map";

$keyword: skew-y !default;
$responsive: false !default;
$responsive-pseudos: true !default;

$properties: (--skew-y) !default;

$core-variants: (
  n12d: -12deg,
	n8d: -8deg,
	n4d: -4deg,
	0: 0,
	4d: 4deg,
  8d: 8deg,
	12d: 12deg,
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: (hover, group-hover) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
