@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: wordbreak !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (word-break) !default;

$core-variants: (
  word: break-word,
  all: break-all
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
