@use "uniform/_core" as *;

/*
CUSTOM PROPERTIES

--wrapper-padding

--wrapper-xs-max-width
--wrapper-sm-max-width
--wrapper-md-max-width
--wrapper-lg-max-width
--wrapper-xl-max-width
*/

@if $include-wrapper-module == true and $headless == false {
  .wrapper {
    width: 100%;
    margin: auto;
    @media (max-width: screen(xs)) {
      padding-left: var(--wrapper-padding, size(6));
      padding-right: var(--wrapper-padding, size(6));
    }
    @media (min-width: screen(xs)) {
      max-width: var(--wrapper-xs-max-width, 768px);
    }
    @media (min-width: screen(sm)) {
      max-width: var(--wrapper-sm-max-width, 896px);
    }
    @media (min-width: screen(md)) {
      max-width: var(--wrapper-md-max-width, 1024px);
    }
    @media (min-width: screen(lg)) {
      max-width: var(--wrapper-lg-max-width, 1152px);
    }
    @media (min-width: screen(xl)) {
      max-width: var(--wrapper-xl-max-width, 1280px);
    }
    
  }
}
