@use "uniform/core" as *;

/*
CUSTOM PROPERTIES

--btn-height
--btn-padding
--btn-bg
--btn-border
--btn-shadow
--btn-radius
--btn-font-family
--btn-font-size
--btn-font-weight
--btn-text-transform
--btn-tracking
--btn-color
--btn-transition

--btn-hover-bg
--btn-hover-color
--btn-hover-border
--btn-hover-shadow
--btn-focus-shadow
--btn-active-bg
--btn-active-color
--btn-active-border
--btn-active-shadow



--btn-light-bg
--btn-light-color
--btn-light-border
--btn-light-shadow
--btn-light-hover-bg
--btn-light-hover-color
--btn-light-hover-border
--btn-light-hover-shadow
--btn-light-focus-shadow
--btn-light-active-bg
--btn-light-active-color
--btn-light-active-border
--btn-light-active-shadow

--btn-dark-bg
--btn-dark-color
--btn-dark-border
--btn-dark-shadow
--btn-dark-hover-bg
--btn-dark-hover-color
--btn-dark-hover-border
--btn-dark-hover-shadow
--btn-dark-focus-shadow
--btn-dark-active-bg
--btn-dark-active-color
--btn-dark-active-border
--btn-dark-active-shadow



--btn-outline-bg
--btn-outline-color
--btn-outline-border
--btn-outline-shadow
--btn-outline-hover-bg
--btn-outline-hover-color
--btn-outline-hover-border
--btn-outline-hover-shadow
--btn-outline-focus-shadow
--btn-outline-active-bg
--btn-outline-active-color
--btn-outline-active-border
--btn-outline-active-shadow



--btn-success-bg
--btn-success-color
--btn-success-border
--btn-success-shadow
--btn-success-hover-bg
--btn-success-hover-color
--btn-success-hover-border
--btn-success-hover-shadow
--btn-success-focus-shadow
--btn-success-active-bg
--btn-success-active-color
--btn-success-active-border
--btn-success-active-shadow

--btn-warning-bg
--btn-warning-color
--btn-warning-border
--btn-warning-shadow
--btn-warning-hover-bg
--btn-warning-hover-color
--btn-warning-hover-border
--btn-warning-hover-shadow
--btn-warning-focus-shadow
--btn-warning-active-bg
--btn-warning-active-color
--btn-warning-active-border
--btn-warning-active-shadow

--btn-danger-bg
--btn-danger-color
--btn-danger-border
--btn-danger-shadow
--btn-danger-hover-bg
--btn-danger-hover-color
--btn-danger-hover-border
--btn-danger-hover-shadow
--btn-danger-focus-shadow
--btn-danger-active-bg
--btn-danger-active-color
--btn-danger-active-border
--btn-danger-active-shadow



--btn-primary-bg
--btn-primary-color
--btn-primary-border
--btn-primary-shadow
--btn-primary-hover-bg
--btn-primary-hover-color
--btn-primary-hover-border
--btn-primary-hover-shadow
--btn-primary-focus-shadow
--btn-primary-active-bg
--btn-primary-active-color
--btn-primary-active-border
--btn-primary-active-shadow

--btn-secondary-bg
--btn-secondary-color
--btn-secondary-border
--btn-secondary-shadow
--btn-secondary-hover-bg
--btn-secondary-hover-color
--btn-secondary-hover-border
--btn-secondary-hover-shadow
--btn-secondary-focus-shadow
--btn-secondary-active-bg
--btn-secondary-active-color
--btn-secondary-active-border
--btn-secondary-active-shadow

--btn-tertiary-bg
--btn-tertiary-color
--btn-tertiary-border
--btn-tertiary-shadow
--btn-tertiary-hover-bg
--btn-tertiary-hover-color
--btn-tertiary-hover-border
--btn-tertiary-hover-shadow
--btn-tertiary-focus-shadow
--btn-tertiary-active-bg
--btn-tertiary-active-color
--btn-tertiary-active-border
--btn-tertiary-active-shadow



--btn-xs-height
--btn-xs-padding
--btn-xs-font-size

--btn-sm-height
--btn-sm-padding
--btn-sm-font-size

--btn-md-height
--btn-md-padding
--btn-md-font-size

--btn-lg-height
--btn-lg-padding
--btn-lg-font-size

--btn-xl-height
--btn-xl-padding
--btn-xl-font-size
*/

@if $include-button-module == true and $headless == false {

  .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--btn-height, size(11));
    padding: var(--btn-padding, size(0, 5));
    outline: none;
    background: var(--btn-bg, fill(indigo-500));
    border: var(--btn-border, 0);
    box-shadow: var(--btn-shadow, none);
    border-radius: var(--btn-radius, radius(xs));
    font-family: var(--btn-font-family, font-family(sans));
    font-size: var(--btn-font-size, font-size(md));
    font-weight: var(--btn-font-weight, 500);
    line-height: 1;
    text-decoration: none;
    text-transform: var(--btn-text-transform, none);
    letter-spacing: var(--btn-tracking, 0);
    color: var(--btn-color, white);
    white-space: nowrap;
    transition: var(--btn-transition, 100ms);
    cursor: pointer;

    &:hover {
      background: var(--btn-hover-bg, fill(indigo-600));
      color: var(--btn-hover-color, fill(white));
      border: var(--btn-hover-border, initial);
      box-shadow: var(--btn-hover-shadow, none);
    }
    &:focus {
      box-shadow: var(--btn-focus-shadow, none);
    }
    &:active {
      background: var(--btn-active-bg, fill(indigo-700));
      color: var(--btn-active-color, fill(white));
      border: var(--btn-active-border, initial);
      box-shadow: var(--btn-active-shadow, none);
    }
    &.is-active {
      background: var(--btn-active-bg, fill(indigo-700));
      color: var(--btn-active-color, fill(white));
      border: var(--btn-active-border, initial);
      box-shadow: var(--btn-active-shadow, none);
      pointer-events: none;
    }
    &.is-loading {
      color: transparent;
      pointer-events: none;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - (1em / 2));
        left: calc(50% - (1em / 2));
        height: 1em;
        width: 1em;
        border: 2px solid white;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        animation: btn-loading .5s infinite linear;
      }
    }
  }

  

  /******************************
  SIZES
  ******************************/

  .btn-xs {
    --btn-height: var(--btn-xs-height, #{size(8)});
    --btn-padding: var(--btn-xs-padding, #{size(0, 3)});
    --btn-font-size: var(--btn-xs-font-size, #{font-size(xs)});
  }
  .btn-sm {
    --btn-height: var(--btn-sm-height, #{size(9)});
    --btn-padding: var(--btn-sm-padding, #{size(0, 4)});
    --btn-font-size: var(--btn-sm-font-size, #{font-size(sm)});
  }
  .btn-md {
    --btn-height: var(--btn-md-height, #{size(11)});
    --btn-padding: var(--btn-md-padding, #{size(0, 5)});
    --btn-font-size: var(--btn-md-font-size, #{font-size(md)});
  }
  .btn-lg {
    --btn-height: var(--btn-lg-height, #{size(12)});
    --btn-padding: var(--btn-lg-padding, #{size(0, 6)});
    --btn-font-size: var(--btn-lg-font-size, #{font-size(md)});
  }
  .btn-xl {
    --btn-height: var(--btn-xl-height, #{size(13)});
    --btn-padding: var(--btn-xl-padding, #{size(0, 7)});
    --btn-font-size: var(--btn-xl-font-size, #{font-size(lg)});
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}btn-xs {
        --btn-height: var(--btn-xs-height, #{size(8)});
        --btn-padding: var(--btn-xs-padding, #{size(0, 3)});
        --btn-font-size: var(--btn-xs-font-size, #{font-size(xs)});
      }
      .#{$screen}#{$screen-delimiter}btn-sm {
        --btn-height: var(--btn-sm-height, #{size(9)});
        --btn-padding: var(--btn-sm-padding, #{size(0, 4)});
        --btn-font-size: var(--btn-sm-font-size, #{font-size(sm)});
      }
      .#{$screen}#{$screen-delimiter}btn-md {
        --btn-height: var(--btn-md-height, #{size(11)});
        --btn-padding: var(--btn-md-padding, #{size(0, 5)});
        --btn-font-size: var(--btn-md-font-size, #{font-size(md)});
      }
      .#{$screen}#{$screen-delimiter}btn-lg {
        --btn-height: var(--btn-lg-height, #{size(12)});
        --btn-padding: var(--btn-lg-padding, #{size(0, 6)});
        --btn-font-size: var(--btn-lg-font-size, #{font-size(md)});
      }
      .#{$screen}#{$screen-delimiter}btn-xl {
        --btn-height: var(--btn-xl-height, #{size(13)});
        --btn-padding: var(--btn-xl-padding, #{size(0, 7)});
        --btn-font-size: var(--btn-xl-font-size, #{font-size(lg)});
      }
    }
  }

  /******************************
  BUTTONS
  ******************************/

  .btns {
    display: inline-flex;

    .btn {
      display: flex;
      flex: 1;
      margin: 0;
      margin-right: calc(1px * -1);
      border-radius: 0;
      &:first-child {
        border-top-left-radius: var(--btn-radius, radius(xs));
        border-bottom-left-radius: var(--btn-radius, radius(xs));
      }
      &:last-child {
        margin-right: 0;
        border-top-right-radius: var(--btn-radius, radius(xs));
        border-bottom-right-radius: var(--btn-radius, radius(xs));
      }
    }
  }


  /******************************
  VARIANTS
  ******************************/

  .btn-light {
    --btn-bg: var(--btn-light-bg, #{fill(silver-100)});
    --btn-color: var(--btn-light-color, #{fill(gray-900)});
    --btn-border: var(--btn-light-border, initial);
    --btn-shadow: var(--btn-light-shadow, none);

    --btn-hover-bg: var(--btn-light-hover-bg, #{fill(silver-200)});
    --btn-hover-color: var(--btn-light-hover-color, #{fill(gray-900)});
    --btn-hover-border: var(--btn-light-hover-border, initial);
    --btn-hover-shadow: var(--btn-light-hover-shadow, none);

    --btn-focus-shadow: var(--btn-light-focus-shadow, none);

    --btn-active-bg: var(--btn-light-active-bg, #{fill(silver-300)});
    --btn-active-color: var(--btn-light-active-color, #{fill(gray-900)});
    --btn-active-border: var(--btn-light-active-border, initial);
    --btn-active-shadow: var(--btn-light-active-shadow, none);
  }

  .btn-dark {
    --btn-bg: var(--btn-dark-bg, #{fill(black)});
    --btn-color: var(--btn-dark-color, white);
    --btn-border: var(--btn-dark-border, initial);
    --btn-shadow: var(--btn-dark-shadow, none);

    --btn-hover-bg: var(--btn-dark-hover-bg, #{fill(gray-900)});
    --btn-hover-color: var(--btn-dark-hover-color, white);
    --btn-hover-border: var(--btn-dark-hover-border, initial);
    --btn-hover-shadow: var(--btn-dark-hover-shadow, none);

    --btn-focus-shadow: var(--btn-dark-focus-shadow, none);

    --btn-active-bg: var(--btn-dark-active-bg, #{fill(black)});
    --btn-active-color: var(--btn-dark-active-color, white);
    --btn-active-border: var(--btn-dark-active-border, initial);
    --btn-active-shadow: var(--btn-dark-active-shadow, none);
  }

  .btn-outline {
    --btn-bg: var(--btn-outline-bg, transparent);
    --btn-color: var(--btn-outline-color, #{fill(gray-700)});
    --btn-border: var(--btn-outline-border, 1px solid #{fill(silver-500)});
    --btn-shadow: var(--btn-outline-shadow, none);

    --btn-hover-bg: var(--btn-outline-hover-bg, #{fill(silver-100)});
    --btn-hover-color: var(--btn-outline-hover-color, #{fill(gray-700)});
    --btn-hover-border: var(--btn-outline-hover-border, 1px solid #{fill(silver-700)});
    --btn-hover-shadow: var(--btn-outline-hover-shadow, none);

    --btn-focus-shadow: var(--btn-outline-focus-shadow, none);

    --btn-active-bg: var(--btn-outline-active-bg, #{fill(silver-200)});
    --btn-active-color: var(--btn-outline-active-color, #{fill(gray-700)});
    --btn-active-border: var(--btn-outline-active-border, 1px solid #{fill(silver-700)});
    --btn-active-shadow: var(--btn-outline-active-shadow, none);
    &:hover {
      z-index: 2;
    }
  }

  .btn-success {
    --btn-bg: var(--btn-success-bg, #{fill(green-500)});
    --btn-color: var(--btn-success-color, white);
    --btn-border: var(--btn-success-border, 1px solid #{fill(green-500)});
    --btn-shadow: var(--btn-success-shadow, none);

    --btn-hover-bg: var(--btn-success-hover-bg, #{fill(green-600)});
    --btn-hover-color: var(--btn-success-hover-color, white);
    --btn-hover-border: var(--btn-success-hover-border, 1px solid #{fill(green-600)});
    --btn-hover-shadow: var(--btn-success-hover-shadow, none);

    --btn-focus-shadow: var(--btn-success-focus-shadow, none);

    --btn-active-bg: var(--btn-success-active-bg, #{fill(green-700)});
    --btn-active-color: var(--btn-success-active-color, white);
    --btn-active-border: var(--btn-success-active-border, 1px solid #{fill(green-700)});
    --btn-active-shadow: var(--btn-success-active-shadow, none);
  }

  .btn-warning {
    --btn-bg: var(--btn-warning-bg, #{fill(yellow-500)});
    --btn-color: var(--btn-warning-color, white);
    --btn-border: var(--btn-warning-border, 1px solid #{fill(yellow-500)});
    --btn-shadow: var(--btn-warning-shadow, none);

    --btn-hover-bg: var(--btn-warning-hover-bg, #{fill(yellow-600)});
    --btn-hover-color: var(--btn-warning-hover-color, white);
    --btn-hover-border: var(--btn-warning-hover-border, 1px solid #{fill(yellow-600)});
    --btn-hover-shadow: var(--btn-warning-hover-shadow, none);

    --btn-focus-shadow: var(--btn-warning-focus-shadow, none);

    --btn-active-bg: var(--btn-warning-active-bg, #{fill(yellow-700)});
    --btn-active-color: var(--btn-warning-active-color, white);
    --btn-active-border: var(--btn-warning-active-border, 1px solid #{fill(yellow-700)});
    --btn-active-shadow: var(--btn-warning-active-shadow, none);
  }
  
  .btn-danger {
    --btn-bg: var(--btn-danger-bg, #{fill(red-500)});
    --btn-color: var(--btn-danger-color, white);
    --btn-border: var(--btn-danger-border, 1px solid #{fill(red-500)});
    --btn-shadow: var(--btn-danger-shadow, none);

    --btn-hover-bg: var(--btn-danger-hover-bg, #{fill(red-600)});
    --btn-hover-color: var(--btn-danger-hover-color, white);
    --btn-hover-border: var(--btn-danger-hover-border, 1px solid #{fill(red-600)});
    --btn-hover-shadow: var(--btn-danger-hover-shadow, none);

    --btn-focus-shadow: var(--btn-danger-focus-shadow, none);

    --btn-active-bg: var(--btn-danger-active-bg, #{fill(red-700)});
    --btn-active-color: var(--btn-danger-active-color, white);
    --btn-active-border: var(--btn-danger-active-border, 1px solid #{fill(red-700)});
    --btn-active-shadow: var(--btn-danger-active-shadow, none);
  }

  .btn-primary {
    --btn-bg: var(--btn-primary-bg, #{fill(indigo-500)});
    --btn-color: var(--btn-primary-color, white);
    --btn-border: var(--btn-primary-border, initial);
    --btn-shadow: var(--btn-primary-shadow, none);

    --btn-hover-bg: var(--btn-primary-hover-bg, #{fill(indigo-600)});
    --btn-hover-color: var(--btn-primary-hover-color, white);
    --btn-hover-border: var(--btn-primary-hover-border, initial);
    --btn-hover-shadow: var(--btn-primary-hover-shadow, none);

    --btn-focus-shadow: var(--btn-primary-focus-shadow, none);

    --btn-active-bg: var(--btn-primary-active-bg, #{fill(indigo-700)});
    --btn-active-color: var(--btn-primary-active-color, white);
    --btn-active-border: var(--btn-primary-active-border, initial);
    --btn-active-shadow: var(--btn-primary-active-shadow, none);
  }

  .btn-secondary {
    --btn-bg: var(--btn-secondary-bg, #{fill(blueberry-700)});
    --btn-color: var(--btn-secondary-color, white);
    --btn-border: var(--btn-secondary-border, initial);
    --btn-shadow: var(--btn-secondary-shadow, none);

    --btn-hover-bg: var(--btn-secondary-hover-bg, #{fill(blueberry-800)});
    --btn-hover-color: var(--btn-secondary-hover-color, white);
    --btn-hover-border: var(--btn-secondary-hover-border, initial);
    --btn-hover-shadow: var(--btn-secondary-hover-shadow, none);

    --btn-focus-shadow: var(--btn-secondary-focus-shadow, none);

    --btn-active-bg: var(--btn-secondary-active-bg, #{fill(blueberry-900)});
    --btn-active-color: var(--btn-secondary-active-color, white);
    --btn-active-border: var(--btn-secondary-active-border, initial);
    --btn-active-shadow: var(--btn-secondary-active-shadow, none);
  }

  .btn-tertiary {
    --btn-bg: var(--btn-tertiary-bg, #{fill(white)});
    --btn-color: var(--btn-tertiary-color, black);
    --btn-border: var(--btn-tertiary-border, initial);
    --btn-shadow: var(--btn-tertiary-shadow, #{shadow(1)});

    --btn-hover-bg: var(--btn-tertiary-hover-bg, #{fill(white)});
    --btn-hover-color: var(--btn-tertiary-hover-color,black);
    --btn-hover-border: var(--btn-tertiary-hover-border, initial);
    --btn-hover-shadow: var(--btn-tertiary-hover-shadow, #{shadow(1)});

    --btn-focus-shadow: var(--btn-tertiary-focus-shadow, #{shadow(1)});

    --btn-active-bg: var(--btn-tertiary-active-bg, #{fill(silver-100)});
    --btn-active-color: var(--btn-tertiary-active-color,black);
    --btn-active-border: var(--btn-tertiary-active-border, initial);
    --btn-active-shadow: var(--btn-tertiary-active-shadow, #{shadow(1)});
  }

  // Used for button loading animations
  @keyframes btn-loading {
    from {
      transform: rotate(0)
    }
    to {
      transform: rotate(359deg)
    }
  }
}

