@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: transform !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (transform) !default;

$core-variants: (
  exempt: (
    translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0)) rotate(var(--rotate, 0))
      skewX(var(--skew-x, 0)) skewY(var(--skew-y, 0)) scaleX(var(--scale-x, 1))
      scaleY(var(--scale-y, 1))
  ),
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: (hover, group-hover) !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
