<div class="bg-white shadow-3 radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="p-6">
    <div class="mb-5">
      <div class="font-600 font-body mb-3 leading-none">
        My Progress <span class="color-gray-100 font-sm font-600">1 out of 2</span>
      </div>
      <div class="font-sm">
        An outline of your course progress.
      </div>
    </div>
    <div class="bg-silver-100 radius-sm p-4 mb-4 last.mb-0">
      <div class="flex align-items-end justify-content-between mb-4 color-black font-sm font-600 leading-none">
        Level 3 Algebra
        <span class="font-600 font-xs color-gray-100">33% Complete</span>
      </div>
      <div class="w-100p bg-white radius-round overflow-hidden">
        <div class="w-3-12 h-2 bg-yellow-500">
        </div>
      </div>
    </div>
    <div class="bg-silver-100 radius-sm p-4 mb-4 last.mb-0">
      <div class="flex align-items-end justify-content-between mb-4 color-black font-sm font-600 leading-none">
        Level 3 Calculus
        <span class="font-600 font-xs color-gray-100">50% Complete</span>
      </div>
      <div class="w-100p bg-white radius-round overflow-hidden">
        <div class="w-6-12 h-2 bg-blue-500">
        </div>
      </div>
    </div>
    <div class="bg-silver-100 radius-sm p-4 mb-4 last.mb-0">
      <div class="flex align-items-end justify-content-between mb-4 color-black font-sm font-600 leading-none">
        Level 3 Physics
        <span class="font-600 font-xs color-gray-100">58% Complete</span>
      </div>
      <div class="w-100p bg-white radius-round overflow-hidden">
        <div class="w-7-12 h-2 bg-teal-500">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white shadow-3 radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="px-5 py-4 border-b-px">
    <div class="flex align-items-center justify-content-between">
      <div class="flex align-items-center">
        <i class="fab fa-bitcoin fa-fw color-pink-500 font-2xl"></i>
        <div class="ml-3">
          <div class="font-md font-600 color-black mb-2">
            Bitcoin
          </div>
          <div class="font-sm font-600 color-pink-500">
            2.85
          </div>
        </div>
      </div>
      <div class="align-right">
        <div class="mb-2 font-xs font-600 color-silver-600">
          BTC/USD
        </div>
        <div class="font-sm font-600 color-black">
          $32,102
        </div>
      </div>
    </div>
  </div>
  <div class="px-5 py-4 border-b-px">
    <div class="flex align-items-center justify-content-between">
      <div class="flex align-items-center">
        <i class="fab fa-ethereum fa-fw color-purple-500 font-2xl"></i>
        <div class="ml-3">
          <div class="font-md font-600 color-black mb-2">
            Ethereum
          </div>
          <div class="font-sm font-600 color-purple-500">
            42.52
          </div>
        </div>
      </div>
      <div class="align-right">
        <div class="mb-2 font-xs font-600 color-silver-600">
          BTC/USD
        </div>
        <div class="font-sm font-600 color-black">
          $2,251
        </div>
      </div>
    </div>
  </div>
  <div class="px-5 py-4">
    <div class="flex align-items-center justify-content-between">
      <div class="flex align-items-center">
        <i class="fab fa-apple-pay fa-fw font-2xl"></i>
        <div class="ml-3">
          <div class="font-md font-600 color-black mb-2">
            Apple Pay
          </div>
          <div class="font-sm font-600 color-gray-200">
            $100.22
          </div>
        </div>
      </div>
      <div class="align-right">
        <div class="mb-2 font-xs font-600 color-silver-600">
          BTC/USD
        </div>
        <div class="font-sm font-600 color-black">
          $100.22
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white shadow-3 radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="bg-black py-6">
    <img src="/assets/img/logo-dark.svg" class="h-7 mx-auto">
  </div>
  <div class="p-5 py-8 align-center">
    <p class="mb-7">Your 6-digit verification code</p>
    <div class="grid grid-cols-6 gap-2 max-w-22 mx-auto mb-7">
      <div class="flex align-items-center justify-content-center h-11 bg-silver-100 radius-xs font-700 font-lg color-black">
        6
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-silver-100 radius-xs font-700 font-lg color-black">
        3
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-silver-100 radius-xs font-700 font-lg color-black">
        0
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-silver-100 radius-xs font-700 font-lg color-black">
        7
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-silver-100 radius-xs font-700 font-lg color-black">
        2
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-silver-100 radius-xs font-700 font-lg color-black">
        0
      </div>
    </div>
    <p class="font-sm max-w-23 mx-auto">To better protect your account, this email was sent to you to verify your new device.
    </p>
    <p class="font-sm">If this wasn’t your, please <a class="font-600">review activity</a></p>
  </div>
  <div class="flex justify-content-end p-3 border-t-px border-silver-300 mt-5">
    <button class="btn btn-light mr-3">Resend</button>
    <button class="btn btn-dark">Cancel</button>
  </div>
</div>

<div class="bg-white shadow-3 radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="p-5">
    <div class="flex align-items-end justify-content-between">
      <div>
        <div class="font-sm font-600 mb-3">
          Total Subscribers
        </div>
        <div class="font-2xl font-600 color-violet-500">
          6,102 <span class="font-500 font-sm color-gray-100">from 3,105</span>
        </div>
      </div>
      <div class="radius-round p-1 px-3 font-700 font-sm color-white bg-green-500">
        +17%
      </div>
    </div>
  </div>
  <a class="flex align-items-center justify-content-between bg-silver-100 hover.bg-silver-200 p-5 py-4 font-sm">
    View All
    <i class="fas fa-angle-right"></i>
  </a>
</div>

<div class="bg-white shadow-3 radius-md w-24 m-auto overflow-hidden ml-19 p-6 sm.px-7 pt-8">
  <img src="/assets/img/social-profile-round.png" class="radius-round w-11 h-11 mb-3 mx-auto">
  <h2 class="font-xl font-600 align-center mt-2 mb-4">Sign in to Uniform</h2>
  <p class="font-sm align-center">Your creation is just 1 step away</p>
  <div>
    <div class="mb-2 last.mb-0">
      <input class="input input-lg" placeholder="Username">
    </div>
    <div class="mb-4 last.mb-0">
      <input class="input input-lg" type="password" placeholder="Password">
    </div>
    <div class="mb-6 last.mb-0 flex">
      <label class="checkbox">
        <input type="checkbox">
        <div class="checkbox__checkmark"></div>
        Remember me
      </label>
    </div>
    <div class="mb-4 last.mb-0 flex justify-content-end">
      <button class="btn w-100p">Open Sesame</button>
    </div>
  </div>
  <div class="align-center pt-6">
    <a class="font-600 font-sm">Forgot password?</a>
  </div>
</div>

<div class="bg-white shadow-3 radius-md w-19 w-25 m-auto overflow-hidden ml-19 p-5">
  <div class="flex align-items-center mb-5">
    <img src="/assets/img/jin.jpg" class="w-10 h-10 radius-round">
    <input class="input ml-4 radius-round" placeholder="What's on your mind?">
  </div>
  <div class="grid grid-cols-3 gap-3">
    <a class="flex align-items-center justify-content-center radius-round bg-cyan-100 hover.bg-cyan-200 color-cyan-600 h-8 font-sm font-500 col-span-1">
      <i class="fas fa-camera mr-2"></i> Add Photo</span>
    </a>
    <a class="flex align-items-center justify-content-center radius-round bg-orange-100 hover.bg-orange-200 color-orange-600 h-8 font-sm font-500 col-span-1">
      <i class="fas fa-tags mr-2"></i> <span class="hidden lg.inline">Tag Friends
    </a>
    <a class="flex align-items-center justify-content-center radius-round bg-pink-100 hover.bg-pink-200 color-pink-600 h-8 font-sm font-500 col-span-1">
      <i class="fas fa-smile mr-2"></i> Share Feeling</span>
    </a>
  </div>
</div>

<div class="bg-white shadow-3 radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="p-6 py-8 align-center">
    <div class="font-600 font-sm color-teal-600 tracking-1 uppercase mb-4">Professional</div>
    <h2 class="font-6xl font-700 tracking-n1 align-center mb-4">$99</h2>
    <p class="font-sm max-w-23 mx-auto mb-6">Access a complete payments platform with simple, pay-as-you-go pricing</p>
    <div class="flex align-items-center justify-content-center font-500 font-sm">
      Monthly
      <label class="toggle mx-4">
        <input type="checkbox" checked>
        <div class="toggle__switch"></div>
      </label>
      Annual
    </div>
  </div>
  <div class="align-center border-t-px py-7 font-sm">
    <div class="font-600 color-black mb-3">
      Everything in Basic Plus
    </div>
    Access to entire library
  </div>
  <button class="btn btn-sm xs.btn-md radius-0 w-100p">
    Start Free Trial
  </button>
</div>

<div class="bg-white shadow-3 radius-md w-21 w-25 m-auto overflow-hidden ml-19 p-5 flex">
  <img src="/assets/img/social-profile-round.png" class="radius-round w-8 sm.w-11 h-8 sm.h-11 mr-4 sm.mr-4 flex-none">
  <div>
    <div class="font-600 color-black mb-3 flex align-items-center">
      Uniform <span class="ml-2 color-blue-500"><svg class="inline-block w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M512 256c0-37.7-23.7-69.9-57.1-82.4 14.7-32.4 8.8-71.9-17.9-98.6-26.7-26.7-66.2-32.6-98.6-17.9C325.9 23.7 293.7 0 256 0s-69.9 23.7-82.4 57.1c-32.4-14.7-72-8.8-98.6 17.9-26.7 26.7-32.6 66.2-17.9 98.6C23.7 186.1 0 218.3 0 256s23.7 69.9 57.1 82.4c-14.7 32.4-8.8 72 17.9 98.6 26.6 26.6 66.1 32.7 98.6 17.9 12.5 33.3 44.7 57.1 82.4 57.1s69.9-23.7 82.4-57.1c32.6 14.8 72 8.7 98.6-17.9 26.7-26.7 32.6-66.2 17.9-98.6 33.4-12.5 57.1-44.7 57.1-82.4zm-144.8-44.25L236.16 341.74c-4.31 4.28-11.28 4.25-15.55-.06l-75.72-76.33c-4.28-4.31-4.25-11.28.06-15.56l26.03-25.82c4.31-4.28 11.28-4.25 15.56.06l42.15 42.49 97.2-96.42c4.31-4.28 11.28-4.25 15.55.06l25.82 26.03c4.28 4.32 4.26 11.29-.06 15.56z"></path>
        </svg></span><span class="ml-2 font-sm color-silver-800"><a class="color-gray-400">@UniformCSS</a> - 2 minutes ago</span>
    </div>
    <p class="font-sm">
      Wohoo, finally launched my first Utility-first framework! Fully customizable, infinitely extendible, and built entirely in Sass.. Check it out! 😎
    </p>
  </div>
</div>