<footer>
	<div class="wrapper py-12">
		<div class="align-center">



      <div class="font-600 font-xl color-black mb-3">UniformCSS</div>

      <div class="mb-5">
        Source code licensed MIT.
      </div>

      <div class="flex align-items-center justify-content-center">
        <a href="https://github.com/UniformCSS/uniformcss" class="flex align-items-center justify-content-center w-10 h-10 mr-2 color-black bg-white radius-round shadow-1 hover.shadow-2 transition-appearance">
					<i class="fab fa-github-alt font-lg"></i>
				</a>
				<a href="https://twitter.com/UniformCSS" class="flex align-items-center justify-content-center w-10 h-10 ml-2 color-black bg-white radius-round shadow-1 hover.shadow-2 transition-appearance">
					<i class="fab fa-twitter font-md"></i>
				</a>
      </div>
    </div>
	</div>
</footer>
