<header id="nav" class="z-10 border-b-px border-tint-100">
  <div class="wrapper">
    <nav class="md.h-15 xl.h-16 flex align-items-center justify-content-between">
      <div class="flex align-items-center w-17">
        <a href="/" class="flex align-items-center xl.font-xl font-600 color-white tracking-n1">
          <img src="/assets/img/mark-light.svg" class="w-7 md.w-8 xl.w-8 mr-4" />

          <span class="hidden md.block"
            >UniformCSS</span
          >
        </a>
      </div>

      <div class="hidden md.flex align-items-center justify-content-between">
        <div>
          <a href="/get-started/overview" class="mr-7 last.mr-0 font-sm font-500 color-white hover.color-yellow-500"
            >Get Started</a
          >
          <a href="/glossary/" class="mr-7 last.mr-0 font-sm font-500 color-white hover.color-yellow-500"
            >Glossary</a
          >
          <a href="/tutorials/" class="mr-7 last.mr-0 font-sm font-500 color-white hover.color-yellow-500"
            >Tutorials</a
          >
          <a href="/blog/" class="mr-7 last.mr-0 font-sm font-500 color-white hover.color-yellow-500"
            >Blog</a
          >
          <a href="/cheatsheet/" class="mr-7 last.mr-0 font-sm font-500 color-white hover.color-yellow-500"
            >Cheatsheet<sup class="color-yellow-500">NEW</sup></a
          >
        </div>
      </div>
      <div class="hidden md.flex align-items-center justify-content-end w-17">
        <div class="flex align-items-center justify-content-center">
          <a
            href="https://github.com/UniformCSS/uniformcss"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-1 hover.shadow-2 transition-appearance"
          >
            <i class="fab fa-youtube xl.font-lg"></i>
          </a>
          <a
            href="https://github.com/UniformCSS/uniformcss"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-1 hover.shadow-2 transition-appearance"
          >
            <i class="fab fa-github-alt xl.font-lg"></i>
          </a>
          <a
            href="https://twitter.com/UniformCSS"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-1 hover.shadow-2 transition-appearance"
          >
            <i class="fab fa-twitter font-md"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
