@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: max-w !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (max-width) !default;

$core-variants: (
	merge(
		positive-sizes(),
		name-screens(),
		(
			none: none,

			100p: 100%,
      100vw: 100vw,
      50p: 50%,
      50vw: 50vw,

      px: 1px,
      2px: 2px,
      3px: 3px,

      '1-12': 8.333333%,
      '2-12': 16.666667%,
      '3-12': 25%,
      '4-12': 33.333333%,
      '5-12': 41.666667%,
      '6-12': 50%,
      '7-12': 58.333333%,
      '8-12': 66.666667%,
      '9-12': 75%,
      '10-12': 83.333333%,
			'11-12': 91.666667%,
			
      '1-5': 20%,
      '2-5': 40%,
      '3-5': 60%,
      '4-5': 80%,

      '100px': 100px,
      '200px': 200px,
      '300px': 300px,
      '400px': 400px,
      '500px': 500px,
      '600px': 600px,
      '700px': 700px,
      '800px': 800px,
      '900px': 900px,
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
