@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: ml !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (margin-left) !default;

$core-variants: (
	merge(
		sizes(),
		(
      auto: auto,
      px: 1px,
      2px: 2px,
      3px: 3px,
      
      npx: -1px,
      n2px: -2px,
      n3px: -3px,
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
