@use "uniform/_core" as *;
@use "sass:map";

$keyword: min-h !default;
$responsive: true !default;
$responsive-pseudos: true !default;

$properties: (min-height) !default;

$core-variants: (
	merge(
		positive-sizes(),
		(
			100p: 100%,
			100vh: 100vh,
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
