@use "uniform/_core" as *;
@use "sass:map";

$keyword: bg !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (background-size) !default;

$core-variants: (
  auto: auto,
  cover: cover,
  contain: contain
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
