@use "uniform/_core";
@use "sass:map";

$keyword: exempt !default;
$responsive: true !default;
$responsive-pseudos: true !default;

$properties: (text-transform) !default;

$core-variants: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
  normal-case: none
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
