@use "uniform/_core";
@use "sass:map";

$keyword: mt !default;
$responsive: true !default;
$responsive-pseudos: true !default;

$properties: (margin-top) !default;

$core-variants: (
	core.merge(
		core.sizes(),
		(
			auto: auto
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
