@use "uniform/_core" as *;
@use "sass:map";

$keyword: mb !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (margin-bottom) !default;

$core-variants: (
	merge(
		sizes(),
		(
      auto: auto
		)
	)
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: (last) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
