@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: z !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (z-index) !default;

$core-variants: (
  auto: auto,
  n10: -10,
  n9: -9,
  n8: -8,
  n7: -7,
  n6: -6,
  n5: -5,
  n4: -4,
  n3: -3,
  n2: -2,
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
