@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: xy !default;
$responsive: true !default;
$responsive-pseudos: false !default;

$properties: (top, right, bottom, left) !default;

$core-variants: (
  0: 0,
  auto: auto
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$core-pseudos: () !default;
$pseudos: () !default;
$final-pseudos: list.join($core-pseudos, $pseudos) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
