---
layout: layouts/base.njk
---

{% include "partials/nav.njk" %}
<div class="absolute t-0 l-0 w-100p z-n1 bg-hero">
  <div class="h-100vh">

  </div>
</div>



<section>
  <div class="wrapper">
    <div class="pt-14 pb-16 align-center">
      <h1 class="font-6xl font-300 mb-6 tracking-n1 color-white">
        {{ title }}
      </h1>

      <p class="max-w-26 mx-auto font-lg font-400 color-white opacity-70">
        Read about all the latest developement news on Uniform CSS.
      </p>
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}

    {%- for post in postslist | reverse -%}
      <article class="max-w-800px mx-auto radius-md overflow-hidden shadow-3 bg-white px-10 py-10 mb-12 last.mb-0">
        
        <h2 class="font-2xl font-500 tracking-n2 mb-4">
          <a href="{{ post.url }}">
            {{ post.data.title }}
          </a>
        </h2>
        

        <div class="flex align-items-center mb-8">
          <img src="/assets/img/{{ post.data.authorImage }}" class="w-8 h-8 radius-round shadow-2 border-2px border-white mr-3">
          <div class="font-sm">
            {{ post.data.author }} on <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </div>
        </div>

        <div class="flex align-items-center justify-content-between">
          <div class="flex">
            <div class="px-2 py-1 font-xs font-600 bg-red-700 color-white radius-xs mr-4">
              #{{ post.data.category }}
            </div>

            {%- for emoji in post.data.emojis -%}
              <div class="mr-4">
                {{ emoji.icon }} <span class="font-xs opacity-50">{{ emoji.count }}</span>
              </div>
            {%- endfor -%}
          </div>

          <a href="{{ post.url }}" class="flex align-items-center font-sm font-600">
            Read more
            <div class="flex align-items-center justify-content-center font-xs w-7 h-7 ml-3 radius-round bg-silver-200">
              <i class="fas fa-arrow-right"></i>
            </div>
          </a>
        </div>

        <div class="font-sm max-w-600px mx-auto">
          {{ post.page.excerpt | safe }}
        </div>
      </article>
    {%- endfor -%}
  </div>
</section>