@use "uniform/_core" as *;
@use "sass:map";

$keyword: exempt !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (text-decoration) !default;

$core-variants: (
  underline: underline,
  line-through: line-through,
  no-underline: none
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: (hover, group-hover) !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
