@use "uniform/_core" as *;
@use "sass:map";

$keyword: whitespace !default;
$responsive: false !default;
$responsive-pseudos: false !default;

$properties: (white-space) !default;

$core-variants: (
  no-wrap: nowrap,
  pre: pre,
  pre-line: pre-line,
  pre-wrap: pre-wrap
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants) !default;

$pseudos: () !default;

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $pseudos
);
